@font-face {
  font-family: "Font Medium";
  src: url("../fonts/Cabin-Medium.eot");
  src: url("../fonts/Cabin-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Cabin-Medium.woff2") format("woff2"),
    url("../fonts/Cabin-Medium.woff") format("woff"),
    url("../fonts/Cabin-Medium.ttf") format("truetype"),
    url("../fonts/Cabin-Medium.svg#Cabin-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Font Bold";
  src: url("../fonts/Cabin-Bold.eot");
  src: url("../fonts/Cabin-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Cabin-Bold.woff2") format("woff2"),
    url("../fonts/Cabin-Bold.woff") format("woff"),
    url("../fonts/Cabin-Bold.ttf") format("truetype"),
    url("../fonts/Cabin-Bold.svg#Cabin-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Font Regular";
  src: url("../fonts/Cabin-Regular.eot");
  src: url("../fonts/Cabin-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Cabin-Regular.woff2") format("woff2"),
    url("../fonts/Cabin-Regular.woff") format("woff"),
    url("../fonts/Cabin-Regular.ttf") format("truetype"),
    url("../fonts/Cabin-Regular.svg#Cabin-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  background: #000;
  line-height: 22px;
  overflow-x: hidden;
  color: #fff;
  font-family: "Font Medium";
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1px;
}

h1,
.h1 {
  font-size: 50px;
  line-height: 55px;
  font-family: "Font Bold";
  font-weight: 700;
  font-style: normal;
}

h2,
.h2 {
  font-size: 40px;
  line-height: 45px;
  font-family: "Font Bold";
  font-weight: 700;
  font-style: normal;
}

h3,
.h3 {
  font-size: 20px;
  line-height: 30px;
  font-family: "Font Medium";
  font-weight: 500;
  font-style: normal;
}

.max-width {
  max-width: 1920px;
  margin: 0 auto;
}

p {
  max-width: 600px;
  margin: 0 auto 18px;
}

p:last-of-type {
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

iframe {
  border: 0;
  outline: none;
}

a {
  color: #fff;
  text-decoration: none;
  opacity: 0.6;
  transition: all 0.35s;
}

a:hover {
  opacity: 1;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.title {
  text-align: center;
  margin: 0 0 40px;
}

.layer.hide {
  opacity: 0;
}

.layer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: #000;
  transition: opacity 1s;
  pointer-events: none;
}

.logos {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  z-index: 2;
}

.logos img {
  display: block;
}

.logos .emblem {
  width: 7vw;
  margin: -5vw auto 0;
}

header .bg-image.desktop {
  height: 100vh;
  background-size: cover;
  background-position: center -20vw;
  background-repeat: no-repeat;
}

header .bg-image.mobile {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header .bg-image.mobile {
  display: none;
}

header {
  position: relative;
  z-index: 2;
}

header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background: rgba(0, 0, 0, 0.4);
}

.intro {
  margin: 0 0 120px;
}

.intro h1 {
  padding: 80px 16.66667%;
  text-align: center;
}

.music {
  margin: 0 0 120px;
  padding: 0 16.66667%;
}

.music > .flex {
  margin: 0 -10px;
}

.music .col-1,
.music .col-2 {
  width: 50%;
  padding: 0 10px;
}

.music > .flex > div {
  margin: 0 0 20px;
}

.music img {
  width: 100%;
  display: block;
  margin: 0 0 20px;
}

.music h3 {
  text-align: center;
  margin: 0 0 20px;
}

.music .wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.music .wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #fff;
  pointer-events: none;
  z-index: 1;
}

.music .wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.photos {
  margin: 0 0 180px;
  padding: 0 20px;
  position: relative;
}

.photos .swiper-pagination {
  bottom: unset;
  top: calc(100% + 40px);
}
.photos .swiper-slide {
  width: fit-content;
}

.swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.4);
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #fff;
}

.photos .swipe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  filter: invert(1);
}

.photos .swipe img {
  width: 100px;
  height: auto;
}
.photos .swiper-slide img {
  height: 33.33333vw;
  max-width: unset;
  width: auto;
}

.gigs {
  margin: 0 0 120px;
  padding: 0 25%;
}

.gigs > .grid {
  margin: 0 -10px;
}

.gigs .grid-sizer {
  width: 33.33333%;
}

.gigs .grid-item {
  width: 33.33333%;
}

.gigs .grid-item > div {
  padding: 10px;
}

.contact {
  padding: 0 25%;
  text-align: center;
  margin: 0 0 120px;
}

.contact h2 {
  margin: 0 0 20px;
}

.contact > div {
  margin: 0 0 30px;
}

@media all and (max-width: 1440px) {
  html {
    font-size: 16px;
  }

  body {
    line-height: 20px;
  }

  h1,
  .h1 {
    font-size: 45px;
    line-height: 50px;
  }

  h2,
  .h2 {
    font-size: 36px;
    line-height: 41px;
  }
}

@media all and (max-width: 1160px) {
  h1,
  .h1 {
    font-size: 40px;
    line-height: 45px;
  }

  h2,
  .h2 {
    font-size: 32px;
    line-height: 37px;
  }

  header .bg-image.desktop {
    background-position: center -10vw;
  }

  .intro h1 {
    padding: 40px 16.66667% 80px;
  }

  .photos .swiper-slide img {
    height: 50vw;
  }

  .music {
    padding: 0 8.33333%;
  }

  .gigs {
    padding: 0 16.66667%;
  }
}

@media all and (max-width: 960px) {
  h1,
  .h1 {
    font-size: 36px;
    line-height: 31px;
  }

  h2,
  .h2 {
    font-size: 28px;
    line-height: 33px;
  }

  p {
    padding: 0 20px;
  }

  header:before {
    background-color: rgba(0, 0, 0, 0.5);
  }

  header .bg-image.mobile {
    display: block;
  }

  header .bg-image.desktop {
    display: none;
  }

  .logos {
    width: 75%;
  }
  .logos .emblem {
    width: 120px;
  }

  .intro h1 {
    padding: 40px 8.33333% 80px;
  }

  .music {
    padding: 0 20px;
  }

  .gigs {
    padding: 0 8.33333%;
  }

  .contact {
    padding: 0 20px;
  }
}

@media all and (max-width: 660px) {
  h1,
  .h1 {
    font-size: 32px;
    line-height: 26px;
  }

  h2,
  .h2 {
    font-size: 24px;
    line-height: 29px;
  }

  .logos {
    width: calc(100% - 20px);
  }

  .logos .emblem {
    width: 100px;
    margin: -40px auto 0;
  }

  .intro h1 {
    padding: 80px 20px;
  }

  .music > .flex {
    margin: 0;
  }

  .music > .flex > div {
    width: 100%;
    padding: 0;
  }

  .music > .flex .col-1 {
    margin: 0 0 80px;
  }

  .photos {
    margin: 0 0 120px;
  }

  .photos .swiper-pagination {
    top: unset;
    bottom: 0;
  }

  .photos .swiper-slide img {
    height: auto;
    width: 100%;
    max-width: 100%;
  }

  .gigs {
    padding: 0 20px;
  }

  .gigs .grid-item {
    width: 50%;
  }

  .gigs .grid-sizer {
    width: 50%;
  }
}
